try-import %workspace%/envoy-mobile/envoy/.bazelrc
try-import %workspace%/envoy-mobile/.bazelrc

build --copt -fvisibility=default

# TODO: configure XCode 12.0 and remove override
build --xcode_version=12.2

# need to update the workspace command to account for the relative path
build --workspace_status_command="bash envoy-mobile/envoy/bazel/get_workspace_status"